---
import { t } from 'i18next';

import ProjectTitle from './ProjectTitle';
import type { Project as ProjectType } from '../../projects';

interface Props extends ProjectType {
  lazy?: boolean;
}

const { title, image, description, techStack, url, lazy }: Props = Astro.props;
---

<div class='sm:order-2'>
  <ProjectTitle client:only='react' url={url}>
    <>
      {title}
      <img
        src='/images/rotated-arrow.svg'
        alt={t('projects.arrowAlt')}
        class='rotated-arrow'
        width='14px'
        height='28px'
      />
    </>
  </ProjectTitle>
  <p class='mt-[5px]'>{description}</p>

  <ul class='flex flex-wrap gap-[10px] mt-5'>
    {
      techStack.map((tech) => (
        <li class='bg-cyan-300 text-[#090f3f] rounded-3xl px-[10px] py-[3px] text-base'>
          {tech}
        </li>
      ))
    }
  </ul>
</div>

<img
  src={image}
  alt={t('projects.imgAlt')}
  class='max-h-[99px] rounded-md project-image sm:order-1'
  loading={lazy ? 'lazy' : 'eager'}
  width='176px'
  height='99px'
/>
