---
import Navigation from '../components/Navigation.astro';
import Contacts from '../components/Contacts.astro';
import Layout from '../layouts/Layout.astro';
import Project from '../components/Project.astro';
import Subtitle from '../components/Subtitle.astro';
import Arrow from '../svgs/Arrow.astro';

import { projects } from '../projects';
import { languages, frameworks, tools } from '../images';
---

<Layout>
  <section>
    <h1 class='text-5xl'>Luis Cervantes</h1>
    <h2 class='text-2xl mt-2 mb-10'>&lt;Front-End Developer /&gt;</h2>

    <blockquote>
      <p style='text-wrap: balance;'>
        “The people who are crazy enough to think they can change the world are
        the ones who do.” - Steve Jobs
      </p>
    </blockquote>

    <!-- <Navigation /> -->

    <Contacts />
  </section>

  <main>
    <section>
      <Subtitle>About</Subtitle>

      <p>
        I'm passionate about software development, seeking exciting
        opportunities to start my professional career. Although I lack direct
        work experience, I have been dedicating time and effort to personal
        projects with the goal of enhancing my skills in both web development
        and design.
      </p>
    </section>

    <section class='mt-[75px]'>
      <Subtitle>Projects</Subtitle>

      <div class='flex flex-col gap-5'>
        {projects.map((project) => <Project {...project} />)}
      </div>

      <a href='' class='projects-link'>See More <Arrow /></a>
    </section>

    <section class='mt-[75px]'>
      <Subtitle>Skillset</Subtitle>

      <section
        class='border-cyan-300 border-[1.5px] rounded-[10px] pt-[35px] pb-[30px] flex justify-around mt-[25px] relative'
      >
        <header
          class='absolute -top-4 left-[30px] px-[10px] border-[1.5px] border-y-0 border-x-cyan-300 bg-[#070b30]'
        >
          <h4>Languages</h4>
        </header>

        {
          languages.map((language) => (
            <img
              src={`/languages/${language}.png`}
              alt={`${language} logo`}
              class='h-12'
            />
          ))
        }
      </section>

      <section
        class='border-cyan-300 border-[1.5px] rounded-[10px] pt-[35px] pb-[30px] grid grid-cols-3 mt-[55px] relative gap-8 justify-items-center'
      >
        <header
          class='absolute -top-4 left-[30px] px-[10px] border-[1.5px] border-y-0 border-x-cyan-300 bg-[#070b30]'
        >
          <h4>Frameworks</h4>
        </header>

        {
          frameworks.map((framework) => (
            <img
              src={`/frameworks/${framework}.png`}
              alt={`${framework} logo`}
              class='h-12'
            />
          ))
        }
      </section>

      <section
        class='border-cyan-300 border-[1.5px] rounded-[10px] pt-[35px] pb-[30px] flex justify-around mt-[55px] relative'
      >
        <header
          class='absolute -top-4 left-[30px] px-[10px] border-[1.5px] border-y-0 border-x-cyan-300 bg-[#070b30]'
        >
          <h4>Tools</h4>
        </header>

        {
          tools.map((tool) => (
            <img src={`/tools/${tool}.png`} alt={`${tool} logo`} class='h-12' />
          ))
        }
      </section>
    </section>
  </main>
</Layout>
