---
import TechBadge from './TechBadge.astro';
import type { Project } from '../projects';

interface Props extends Project {}

const { title, image, description, techStack, url }: Props = Astro.props;
---

<article>
  <a href={url} rel='noreferrer' target='_blank' class='py-5 block'>
    <img
      src={image}
      alt='Project Screenshot'
      class='w-44 aspect-video rounded-md mb-5'
    />

    <h4>{title}</h4>
    <p>
      {description}
    </p>

    <ul class='flex flex-wrap gap-[10px] mt-5'>
      {techStack.map((tech) => <TechBadge tech={tech} />)}
    </ul>
  </a>
</article>
